<div class="edit-tweet">
<h1>ステータスを編集</h1>

<% if @post.errors.full_messages_for(:body).any? %>
  <ul>
  <% @post.errors.full_messages_for(:body).each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<ul>
<%= form_with model: @post do |form| %>
  <li><%= form.text_area :body, placeholder: "何をしていますか？" %></li>
  <li><%= form.submit "ツイートする" %></li>
<% end %>
</ul>
</div>