<div class="new-tweet">
<h1>何をしていますか？</h1>

<% if @post.errors.full_messages_for(:body).any? %>
  <ul>
  <% @post.errors.full_messages_for(:body).each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<ul>
<%= form_with model: @post do |form| %>
  <li><%= form.text_area :body, placeholder: "何をしていますか？", class: "textarea" %></li>
  <li><%= form.submit "ツイートする", class: "tweet-button" %></li>
<% end %>
</ul>
</div>